<!DOCTYPE html>
<meta charset="utf-8">
<html>
    <head>
        <link rel="stylesheet" href="3rd/jquery-ui-1.12.1/jquery-ui.min.css">
        <link rel="stylesheet" href="3rd/jstree-3.2.1.min.css">
        <link rel="stylesheet" href="main.css">

        <script src="3rd/jquery-3.2.1.min.js"></script>
        <script src="3rd/jquery-ui-1.12.1/jquery-ui.min.js"></script>
        <script src="3rd/d3.v4.min.js"></script>
        <script src="3rd/jstree-3.2.1.min.js"></script>
    </head>
    <body>
        <div id="dashboard">
            <span id="dashboard-node-count"></span>
            <span id="dashboard-zoom-scale"></span>
            <span id="dashboard-memory"></span>
            <span id="dashboard-items-read"></span>
            <span id="dashboard-results"></span>
            <span id="dashboard-raw-results"></span>
            <span id="dashboard-search-time"></span>
            <span id="dashboard-resolve-time"></span>
            <span id="dashboard-files"></span>
            <span id="dashboard-searches"></span>
        </div>
        <table id="main" width="100%">
            <tr>
                <td class="logo">
                    <span class="t1">I</span>
                    <span class="t2">K</span>
                    <span class="t3">K</span>
                    <span class="t4">E</span>
                </td>
                <td>
                    <div id="toolbar">
                        <div class="querybox">
                            <input type="text" id="query" class="searchbox" value="{{query}}" onchange="rerender()"/>
                            <div class="search-button">&#9906;</div>
                        </div>
                        <div class="profile">
                            <img src="{{account['picture_url']}}">
                            <div>{{account['full_name']}}</div>
                        </div>
                    </div>
                    <div id="tabs">
                        <ul>
                            {% for kind in kinds %}
                            <li remember="true"><a href="#tabs-{{kind}}">{{ kind.capitalize() }} </a></li>
                            {% endfor %}
                            <li><a href="#">&nbsp;&nbsp;&nbsp;</a></li>
                            <li><a id="google" href="#">Google</a></li>
                            <li><a id="settings" href="#">Settings</a></li>
                        </ul>
                        {% for kind in kinds %}
                        <div id="tabs-{{kind}}">
                            <div class="tab-contents">
                                <div id="summary-{{kind}}" class="summary"></div>
                                <div id="zoom-buttons-{{kind}}" class="zoom-buttons">
                                    <button class="zoom-button" id="zoom-in-{{kind}}">+</button>
                                    <button class="zoom-button" id="zoom-out-{{kind}}">&ndash;</button>
                                </div>
                                <div class="spinner">
                                    <img src="get?path=icons/loading_spinner.gif">
                                </div>
                                <div class="sad" id="sad-{{kind}}">
                                    <center>
                                        <img src="get?path=icons/sad-computer.png">
                                        <div id="sadmessage-{{kind}}"></div>
                                        <a href="https://www.google.com/search?q={{query}}" class="kind">Search at Google</a>
                                    </center>
                                </div>
                                <div id="projects">
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        </table>
        <div id="ikke-search-email"></div>";
        <script>
        window.kinds = {{ kinds|safe }};
        </script>
        <script src="main.js"></script>
        <script src="projects.js"></script>
    </body>
</html>
