body {
    padding-left: 32px;
}

button {
    background: lightgreen;
    border: 1px solid grey;
    padding: 5px;
    cursor: pointer;
    display: inline;
    width: 100px;
    text-align: center;
    font-weight: bold;
    height: 24px;
}

button.loading {
    background: pink;
}

button:focus {
    outline: none;
}

button:hover {
    border: 3px solid blue;
    padding: 1px;
}

button:disabled {
    background: pink;
}

#ikke-extension {
    opacity: 0;
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, td {
    text-align: left;
    padding: 8px;
    font-family: Arial;
}

th {
    background-color: #4CAF50;
    color: white;
}

span,a {
    font-size: 12px;
}

span.name {
    font-size: 14px;
    text-align: right;
}

.spinner {
    visibility: hidden;
    width: 32px;
    height: 32px;
}


.logo {
    padding: 12px 0;
    font-family: Arial;
    vertical-align: top;
    white-space: nowrap;
    width: 53px;
    font-size: 18px;
}

.logo .t1 {
    font-weight: bold;
    color: #0057e7;
    font-size: 22px;
}

.logo .t2 {
    font-weight: bold;
    color: #ffa700;
    font-size: 22px;
}

.logo .t3 {
    font-weight: bold;
    color: #d62d20;
    font-size: 22px;
}

.logo .t4 {
    font-weight: bold;
    color: #35a853;
    font-size: 22px;
}

.logo .title {
    margin-left: 26px;
    font-size: 20px;
}

