
button {
    background: lightgreen;
    border: 1px solid grey;
    padding: 5px;
    cursor: pointer;
    display: inline;
    width: 100px;
    text-align: center;
    font-weight: bold;
    height: 24px;
    float: left
}

button.loading {
    background: pink;
}

button:focus {
    outline: none;
}

button:hover {
    border: 3px solid blue;
    padding: 1px;
}

button:disabled {
    background: pink;
}

#ikke-extension {
    opacity: 0;
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}

span,a {
    font-size: 12px;
}

span.name {
    font-size: 14px;
    text-align: right;
}

.spinner {
    visibility: hidden;
    width: 32px;
    height: 32px;
    float: left
}
