<html>
<head>
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/fmeadohikadcafhjaijonglpjdnncnal">
    <link rel="stylesheet" href="settings.css">
    <script src="3rd/jquery-3.2.1.min.js"></script>
</head>
<body>

<div class="logo">
    <span class="t1">I</span>
    <span class="t2">K</span>
    <span class="t3">K</span>
    <span class="t4">E</span>
</div>
<span class="title">Settings</span>


<div id="ikke-extension">
    <button onclick="setup_extension()">Install the Extension</button>
</div>


<div id="ikke-settings">
    <table>
        <tr>
            <th>Kind</th>
            <th>Setup</th>
            <th>Delete</th>
            <th>Add</th>
            <th>Status</th>
            <th></th>
        </tr>
    {% for kind in kinds %}
        <tr class="setting" kind='{{kind}}'>
            <td>
                <span class="name">{{kind.upper()}}</span>
            </td>
            <td>
                {% if kind in ['gmail', 'facebook'] %}
                <button onclick="setup_{{kind}}()">Setup</button>
                {% endif %}
            </td>
            <td>
                <button class='clear-button nopending-{{kind}}' id="clear-button-{{kind}}">Delete</button>
                <button class='stop-clear-button nopending-{{kind}} orange hidden' id="stop-clear-button-{{kind}}">Stop deleting</button>
            </td>
            <td>
                {% if can_load_more[kind] %}
                    <button class="load-button nopending-{{kind}}" id="load-button-{{kind}}">Load</button>
                    <button class='stop-load-button nopending-{{kind}} orange hidden' id="stop-load-button-{{kind}}">Stop loading</button>
                {% endif %}
            </td>
            <td>
                <span class="history"><i>calculating...</i></span>
            </td>
            <td>
                <img id="spinner-{{kind}}" src="get?path=icons/loading_spinner.gif" class="spinner">
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
<pre id="debug">
</pre>
<script src="settings.js"></script>

</body>
</html>
