<html>
<head>
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/fmeadohikadcafhjaijonglpjdnncnal">
    <link rel="stylesheet" href="settings.css">
    <script src="3rd/jquery-3.2.1.min.js"></script>
</head>
<body>

<div class="logo">
    <span class="t1">I</span>
    <span class="t2">K</span>
    <span class="t3">K</span>
    <span class="t4">E</span>
</div>
<span class="title">Settings</span>

<div id="ikke-extension">
    Setup Step 1: <button onclick="setup_extension_local()">Enable the extension</button>
</div>

{% if gmail_needed %}
<div id="ikke-gmail-needed">
    Setup Step 2: <button onclick="setup_gmail()">Set up gmail</button>
</div>
{% else %}
<div id="ikke-settings">
    <table>
        <tr>
            <th>Kind</th>
            <th>Status</th>
            <th>Cleanup</th>
            <th>Add more</th>
            <th></th>
        </tr>
    {% for kind in kinds %}
        <tr class="setting" kind='{{kind}}'>
            <td>
                <span class="name">{{kind.upper()}}</span>
            </td>
            <td>
                <span class="history"><i>calculating...</i></span>
            </td>
            <td>
                <button class='clear-button' id="clear-button-{{kind}}">
                    Delete all
                </button>
            </td>
            <td>
                {% if can_load_more[kind] %}
                    <button class="load-button" id="load-button-{{kind}}">Load more</button>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
            <td>
                {% if can_load_more[kind] %}
                    <img id="spinner-{{kind}}" src="get?path=icons/loading_spinner.gif" class="spinner">
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endif %}

<script src="settings.js"></script>

</body>
</html>
